<div class="container" style='margin:100px auto';>
    <div class="row">
        <div class="col">
            <form action='/admin/login' method='post'>
            <div class='form-group'>
                <label for='usuario'>usuario</label>
                <input type='text' class='form-control' id='usuario' aria-describedby='emailHelp' name='usuario'>
            </div>
            <div class='form-group'>
                <label for='password'>password</label>
                <input type='password' class='form-control' id='password'  name='password'>
            </div>
            <div class='mb-3' style='margin:100px;'>
                <div class='col-auto'>
                    <button type='submit' class='btn btn-dark'>Enviar</button>
                </div>
            </div>
            </form>
            {{#if error}}
            <p>Usuario o contraseña Incorrecta!!</p>
            {{/if}}
        </div>
    </div>
</div>