<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col">
            <p class="text-right">hola {{ usuario }}! <a href="/admin/login/logout"
            class="btn btn-sm btn-danger"> Cerrar sesion
            <i class="fa fa-sign-out" aria-hidden="true"></i></a>
             </p>
        </div>
    </div>
</div>