<div class="container" style=" margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-end" style="float:right;">
                <span>HOLA {{persona}}!</span>
                <a href="/admin/login/logout" class="btn btn-sm custom-gray-btn">CERRAR SESION<i
                        class="fas fa-sign-out-alt" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>