 <div class="container-fluid">
      <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
          <h1>Pizza La Esquina</h1>
          <p>
            En Pizza La Esquina abrimos las puertas de nuestro primer local en el año 2004. Desde entonces nos hemos dedicado a fabricación y comercialización de uno de los productos más consumidos en la gastronomía argentina.
Nuestras  pizzas se caracterizan por ser elaboradas con la más moderna tecnología en instalaciones propias de la empresa, teniendo como resultado un producto distinguido por su exquisito sabor.
          </p>
        </div>
      </div>
    </div>
   

    <div class="row my-3">
      <div id="novedades" class="col-md-5 offset-md-2 py-3 scroll_section">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedad.jpg" /></a> <p>Nuevas promos 1</p>
          </li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedad.jpg" /></a><p>Nuevas promos 2</p>
          </li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedad.jpg" /></a><p>Nuevas promos 3</p>
          </li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedad.jpg" /></a><p>Nuevas promos 4</p>
          </li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedad.jpg" /></a><p>Nuevas promos 5</p>
          </li>
        </ul>
      </div>
    </div>
    <!--Cierra novedades-->
    <!--Comienzo de historia-->
    <div id="Historia" class="row align-items-center py-4 scroll_section">
      <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="../Sitio Web/images/historia1.jpg" alt="Historia 1" class="images-fluid">
      </div>
      <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="../Sitio Web/images/pizza1.jpg" alt="Historia 2" class="images-fluid">
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>Historia</h2>
        <p>Siglo XXI, año 2023. Crecimos junto al país, agregando nuevos productos, servicios y comodidad para nuestros comensales, pero siempre conservando la elaboración artesanal y la calidad de nuestras materias primas en niveles de excelencia, por todo lo cual nos encontramos hoy en día siendo reconocidos gratamente por nuestros clientes que distinguen nuestros productos, donde volcamos diariamente nuestro deseo continuo de superación y nos compromete a seguir en la misma senda.</p>
      </div>
    </div>
    <!--Final de historia-->
    <!--Comienzo de Nosotros-->
    <div id="Nosotros" class="row align-items-strech my-3 staff py-4 scroll_section">
      <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="../Sitio Web/images/nosotros 1.jpg" class="card-img-top" alt="Nosotros 2">
              <div class="card-body">
                <p class="card-text">Lo que nos diferencia no es solo la calidad y el sabor de nuestros productos, la calidez humana y el ambiente familiar hacen de La Esquina un lugar confortable y único.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../Sitio Web/images/Nosotros 2.jpg" class="card-img-top" alt="Nosotros 2">
              <div class="card-body">
               <p class="card-text">la mejora continua de nuestros procesos, maquinarias, tecnología productiva, la confianza y el compromiso mutuo con nuestros colaboradores para alcanzar la excelencia y garantizar la satisfacción requerida por nuestros clientes</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!--fin de Nosotros-->
    <!--Comienzo de visitanos(mapa)-->
    <div id="conocenos" class="row py-4" scroll_section>
      <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.5006005377463!2d-58.41505832342885!3d-34.818504068874546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd3796bf55661%3A0x9b7b697eb5888eee!2s%C3%91andubay%201313%2C%20B1852MKI%20Malvinas%20Argentinas%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1688673234295!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <!--fin de Visitanos(mapa)-->
    <!--Comienzo de Formulario-->
    <div class="col-md-4 mt-4 mt-sm-0">
   <h2>Contactanos</h2>
   <form class="row g-3" action="/" method="post">
   <div class="row g-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre" aria-label="First name" name="Nombre">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name" name="Apellido">
        </div>
      </div>
      <div class="col-12">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Gmail</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" name="Gmail">
        </div>
      </div>
      <div class="col-12">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" name="Contraseña">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
      <div class="col-12">
      <label for="mensaje" class="form-label">mensaje</label>
      <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
      </div>
   </form>
    <!--Fin del Formulario-->

    <!--Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Imperdible!!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h2>Promos</h2>
            <p>30% de descuento en La Esquina con Tarjetas de Crédito de Banco Galicia</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <button type="button" class="btn btn-primary">Avanzar</button>
          </div>
        </div>
      </div>
    </div>         
    <!--Fin del modal-->
